<div class="container">
    <div class="columns">
        <div class="column ">
            {{#each googleBooks}}
                {{>book_list book=this}}
            {{/each}}
        </div>
    </div>
</div>