<div class="card">
  <div class="card-content">
    <p class="title">Book Information</p>
    <p>
      <strong>ID</strong>: {{books.id}}</p>
    <p>
      <p>
        <strong>Book Title</strong>: {{books.title}}</p>
      <p>
        <strong>Description:</strong> {{books.summary}}</p>
      <a href="/">← Back To Home</a>
  </div>
</div>