<div class="card">
  <div class="card-content">
    <p class="title">Book Information</p>
    <p>
      <strong>ID</strong>: {{books.id}}</p>

      <p>
        <strong>Book Title</strong>: {{example.text}}</p>
      <p>
        <strong>Description:</strong> {{example.description}}</p>
      <a href="/">← Back To Home</a>
  </div>
</div>