<div id="home">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        <nav class="level">
          <div class="level-item">
            <img src="/styles/images/book-161128_1280.png" alt="Image of Book with Logo CGKP">
            <div id="logo">CG KP</div>
          </div>
          <div class="level-item has-text-centered">
            <h1>{{msg}}</h1>
          </div>
          <br class="br" style="margin-bottom: 0;">
          <form class="field" action="POST">
            <div class="control">
              <label for="search-field">Add Book</label>
              <input type="text" id="example-text" class="input is-primary" aria-describedby="search-field" placeholder="Select by Author or Title">
            </div>
            <button id="submit" class="button is-primary is-small">Submit</button>
          </form>
        </nav>
        <div class="box">
          <article class="media">
            <div class="media-left" id="book-cover">
              <figure class="image is-128x128">
                <img src="https://bulma.io/images/placeholders/256x256.png" alt=" Book Cover Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p id="topBookDetail">Book Details from Top Viewed Book</p>
              </div>
            </div>
          </article>
        </div>
        <div class="box">
          <article class="media">
            <div class="media-left flex-child">
              <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Book Cover Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Book Title</strong>
                  <br>
                  Book Details, Author, Plot etc.
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item" aria-label="like">
                    <span class="icon is-small">
                      <i class="fas fa-heart" aria-hidden="true"></i>
                    </span>
                  </a>
                </div>
              </nav>
            </div>
          </article>
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Book Cover Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Book Title</strong>
                  <br>
                  Book Details, Author, Plot etc.
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item" aria-label="like">
                    <span class="icon is-small">
                      <i class="fas fa-heart" aria-hidden="true"></i>
                    </span>
                  </a>
                </div>
              </nav>
            </div>
          </article>
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Book Cover Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Book Title</strong>
                  <br>
                  Book Details, Author, Plot etc.
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item" aria-label="like">
                    <span class="icon is-small">
                      <i class="fas fa-heart" aria-hidden="true"></i>
                    </span>
                  </a>
                </div>
              </nav>
            </div>
          </article>
        </div>

        <br class="br" style="margin-bottom: 0;">
        <section class="section">
          <div class="container">
            <h2>Books:</h2>
            <ul id="example-list" class="list-group">
              {{#each bookss}}
              <li data-id="{{this.id}}" class="list-group-item">
                <a href="bookInfo/{{this.id}}">{{this.title}}</a>
                <label class="checkbox">
                  <input type="checkbox" id="chk" value="Add checkbox">
                </label>
                <button class="button is-danger is-small" id="remove">ｘ</button>
              </li>
              {{/each}}
            </ul>
          </div>
        </section>
        <footer class="footer">
          <div class="content has-text-centered">
            <p>
              <a href="">CGKP</a>
            </p>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>