
<section class="search hero has-background-light">
    <div class="navbar-brand">
        <div class="navbar-item">
            <a class="brand" href="/">
                <div class="brand-icon">
                    <img alt="Book with CGKP" role="presentation" src="/styles/images/book-161128_1280.png">
                </div>
                <div class="brand-content">
                    <div class="brand-title"> BIBLIOTECA </div>
                    <div class="brand-subtitle">CG KP</div>
                </div>
            </a>
        </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h4 class="subtitle is-4 is-dark">
                Help us to build our biblioteca ...
            </h4>
            <div class="columns">
                <div class="column is-offset-one-quarter is-half">

                    <form class="create-form">
                <div class="field has-addons">
                    <p class="control has-icons-left has-icons-right is-expanded">
                        <input id="search-value" class="input is-medium" type="text"
                               placeholder="Search by Book's title / Author">
                        <span class="icon is-small is-left">
                            <i class="fas fa-book-open"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-search"></i>
                        </span>
                    </p>
                    <div class="control ">
                        <a id="search" class="button is-link is-medium">Submit</a>
                    </div>
                </div>
            </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="google-results">
</section>


