<section class="hero has-background-light">

    <div class="hero-body">
        <div class="container has-text-centered">
            <h4 class="subtitle is-4">
                Help us to build biblioteca ...
            </h4>
            <div class="columns">
                <div class="column is-offset-one-quarter is-half">

                    <form class="create-form">
                <div class="field has-addons">
                    <p class="control has-icons-left has-icons-right is-expanded">
                        <input id="search-value" class="input is-medium" type="text"
                               placeholder="Search by Book's title / Author">
                        <span class="icon is-small is-left">
                            <i class="fas fa-book-open"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-search"></i>
                        </span>
                    </p>
                    <div class="control ">
                        <a id="search" class="button is-primary is-medium">Submit</a>
                    </div>
                </div>
            </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="google-results">
</section>


