.navbar {
  background-image: url(../images/sharebooks.jpg);
}

#main {
  padding: 30px;
}

.section-media {
  float: right;
  margin-left: 20px;
}

.is-bookInfo{
  padding-top: 10rem;
  margin-bottom: -50px;
}

.navbar-item img, .level-item img {
  max-height: 0%;
  width: 150px;
}

#logo, .brand-subtitle {
  position: absolute;
  top: 40%;
  left: 46%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-weight: 900;
  word-spacing: 30px;
  font-family: cursive;
  color: black;
}

.brand-title, h1 {
  text-align: center;
  color: black;
  font-size: xx-large;
}

.title {
  color: black;
}

.brand-icon {
  margin-top: 20px;
}

#summary {
  margin-top: 30px;
}

.level-item {
  position: relative;
  text-align: center;
}

.button.is-facebook, .button.is-twitter, .button.is-pinterest {
    border-color: transparent;
    color: white;
    font-size: 1.125rem;
    height: 2.375em;
    border-width: 15px;
    padding-top: calc(0.375em - 1px);
    padding-bottom: calc(0.375em - 1px);
    padding-left: 30px;
    padding-right:30px;
    font-weight: 500;
    transition-duration: 86ms;
}

.button.is-facebook {
  background-color: #3b5998;
}

.button.is-twitter {
  background-color: #1da1f2;
}

.button.is-pinterest {
  background-color: #bd081c;
}

.footer {
  background-color: rgb(250, 239, 239);
}

.box1 {
  width: 80%;
  height: 100px;
}

/*Search*/
.hero {
  background: url("/images/sharebooks.jpg") no-repeat fixed;
  background-size: cover;
  opacity: 0.65;
}

.book-info article {
    border-bottom: 1px solid #ccc;
}

.search h4.subtitle {
    color: #00004d;
    font-weight: bold;
    font-size: 1.75rem;
}