html, body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  flex: 1;
  margin-bottom: 20px;
}

/* .column {
  margin-top: 50px;
} */

.is-bookInfo{
  padding-top: 10rem;
  margin-bottom: -50px;
}

/* .list-group-item {
  line-height: 2.5;
} */

.navbar-item img, .level-item img {
  max-height: 0%;
  width: 150px;
  height: 50px;
}

#logo {
  position: absolute;
  top: 45%;
  left: 46%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-weight: 900;
  word-spacing: 30px;
  font-family: cursive;
}

.level-item {
  position: relative;
  text-align: center;
}

/* .level {
  margin-top: 20px;
} */

/*#chk, .chk {*/
  /*float: right;*/
  /*margin-left: 5px;*/
  /*margin-top: 5px;*/
/*}*/

/*#remove, .button.is-danger {*/
  /*float: right;*/
  /*margin: 2px;*/
/*}*/

/*button {*/
  /*margin-top: 2px;*/
/*}*/

li {
  background-color: azure;
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  margin-bottom: 50px;
  padding: 4px;
}
 /* .card-content {
  text-align: center;
  background-color: blanchedalmond;
  padding-top: 0%;
} */

.button.is-facebook {
    background-color: #3b5998;
    border-color: transparent;
    color: white;
}

.button {
    font-size: 1.125rem;
    height: 2.375em;
    border-width: 12px;
    padding-top: calc(0.375em - 2px);
    padding-bottom: calc(0.375em - 2px);
    padding-left: calc(0.875em - 2px);
    padding-right: calc(0.875em - 2px);
    font-weight: 500;
    transition-duration: 86ms;
}

.footer {
  background-color: rgb(250, 239, 239);
  position: absolute;
  margin-top: 50px;
}

p {
  text-overflow: clip;
}

.flex-parent {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 30px 0;
}

.flex-child {
  white-space: nowrap;
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box1 {
  width: 80%;
  height: 100px;

/*Search*/
.hero.is-primary.is-bold {
  background: url("../styles/images/sharebooks.jpg") no-repeat fixed;
  background-size: cover;
  opacity: 0.65;
}