html, body {
  height: 100%;
  margin: 0;
}

section, .card, #home {
  /*min-height: 100%;*/
  /*margin-bottom: -50px;*/
}

/*.list-group-item {*/
  /*line-height: 2.5;*/
/*}*/

img {
  width: 150px;
  height: 50px;
}

#logo {
  position: absolute;
  top: 45%;
  left: 46%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-weight: 900;
  word-spacing: 30px;
  font-family: cursive;
}

.level-item {
  position: relative;
  text-align: center;
}

.level {
  margin-top: 20px;
}

/*#chk, .chk {*/
  /*float: right;*/
  /*margin-left: 5px;*/
  /*margin-top: 5px;*/
/*}*/

/*#remove, .button.is-danger {*/
  /*float: right;*/
  /*margin: 2px;*/
/*}*/

/*button {*/
  /*margin-top: 2px;*/
/*}*/

li {
  background-color: azure;
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  margin-bottom: 50px;
  padding: 4px;
}
 .card-content {
text-align: center;
background-color: blanchedalmond;
padding-top: 0%;
}

.footer {
  background-color: rgb(250, 239, 239);
  height: 50px;
}
